<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Belly Button Biodiversity <br/>Dashboard</h1>
      <text1>Use the interactive charts to explore the data set</text1>
    </div>

  <div class="row">
      <!-- Create Drop Down -->
    <div class="col-sm-2" style="background-color:white;">
        <div class="well">
            <text>SELECT Sample:</text></br>
            <p></p>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    <!-- <option value="dataset1">United States</option>
                    <option value="dataset2">UK</option>
                    <option value="dataset3">Canada</option> -->
            </select>
        </div>
    <!-- Create Meta Data Container -->
        <div class="well">
                <h4>Sample MetaData</h4>
              <div class="w3-container">
                <p>AGE:</p>
                <p>BBTYPE:</p>
                <p>ETHNICITY:</p>
                <p>GENDER:</p>
                <p>LOCATION:</p>
                <p>SAMPLE ID:</p>
              </div>
        </div>
    </div>

<!-- Insert PIE Chart in Second Column of First Row -->
    <div class="col-sm-4" style="background-color: rgb(216, 216, 216);">
            <div id="pie"></div>
            <script>
                Plotly.d3.json('/pie', function(error, data){
                    if (error) return console.warn(error);
                    
                    var PIE = document.getElementById('pie');
                    Plotly.plot(PIE, data, layout);
                })
            </script>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.    
    </div>

<!-- Insert Tachomotere style display -->
    <div class="col-sm-4" style="background-color:white;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.    
        </div>
`</div>
      


</body>
</html>

